/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0!important;
  }

.rslides ul {
    position: absolute;
    top: 0;
    left: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    }

.rslides p {
    position: absolute;
    bottom: 0;
    left: 0;
}    

.rslides img {
	display: block;
	height: 100%;
	width: 100%;
	border: 0;
	}